<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	Welcome {{user.first_name}} {{user.last_name}}!
	<!-- Show my progress -->
	<!-- Links to stuff -->
	<!-- Update achiever progress only for admin -->
	<form action = "/logout" method = "get">
		<input type = "submit" value = "Log Out">
	</form>
</body>
</html>